body {
  color: #e04272;
  background-color: #edf6f9;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
}

h1 {
  color: #c51350;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: #83c5be;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  margin: 0 0 5px;
}

input {
  padding: 10px;
  border-radius: 8px;
}

select {
  color: #006d77;
  border-radius: 8px;
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 200px;
  padding: 10px;
  width: 100%;
}

button.small-button {
  font-size: 5px;
  bottom: -10px;
  padding: 0.25px 0.5px;
  position: relative;
  margin: 0 15px;
  width: auto;
  height: auto;
}

a {
  color: #e04272;
  text-decoration: none;
}

footer {
  color: #c51350;
  font-size: smaller;
  margin: 0 0 30px;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: block;
  padding: 30px 50px;
  margin: 60px auto;
  max-width: 500px;
}

.city {
  border-bottom: 1px dashed #ccc;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
}

.city > div:first-child {
  flex-shrink: 1;
  min-width: 0;
}

.city:last-child {
  border: none;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.time {
  color: #006d77;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

a:hover {
  color: #c51350;
  text-decoration: underline;
}
