body {
  background-color: #feffdf;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 8px;
}

select {
  border-radius: 8px;
  display: block;
  margin: 15px 0;
  min-width: 200px;
  padding: 10px;
}

footer {
  text-align: center;
}

.city-selector {
  display: flex;
  justify-content: center;
}
